@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="login-layout">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mx-auto">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class=" text-center">
                            <img src="../assets/picpay-svg/picpay-1.svg" alt="Ícone de Login" width="150" height="80" />
                        </div>
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .login-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f9f9f9;
    }
</style>

@code {

}
